terratowns_endpoint= "https://terratowns.cloud/api"
bucket_name = "bykzjcclfarcfrlecpiylklcz"

football_manager = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/football-manager"
  content_version = 1
}

terraform = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/terraform"
  content_version = 1
}